// COLORS
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --neutral-dark-grayish-magenta: hsl(302, 10%, 53%);
    --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
    --neutral-white: hsl(0, 0%, 100%);
}

// Font-weights
$fontW: (
    regular: 400,
    medium: 500,
    bold: 700
);
