@use '../utilities/' as u;

// Ratings Styles
.section--wrapper-02 {
    @include u.grid-plc-cnt-center;
    row-gap: u.rem(16);

    div:nth-child(1) {
        padding: u.rem(16) u.rem(76);
    }

    div:nth-child(2) {
        padding: u.rem(16) u.rem(61);
    }

    div:nth-child(3) {
        padding: u.rem(16) u.rem(74)
    }
}

.rated {
    @include u.grid-plc-cnt-center;
    // margin-bottom: u.rem(16);
    background-color: var(--neutral-light-grayish-magenta);
    border-radius: u.rem(9);

    p {
        color: var(--very-dark-magenta);
        font-weight: u.fw(bold);
        font-size: u.rem(13);
        line-height: u.rem(14.56);
    }
}

.stars__wrapper {
    @include u.flex-center;
    gap: u.rem(8.45);
    grid-row: 1;
    margin-bottom: u.rem(16.23);
}

// Main cards styles

.main__cards {
    @include u.grid-plc-cnt-center;
    row-gap: u.rem(16);

    .card {
        background-color: var(--very-dark-magenta);
        padding: u.rem(40) u.rem(32) u.rem(32);
        border-radius: u.rem(9);
        max-width: u.rem(350);
    }
}

.card__review-01 {
    margin-top: u.rem(49);
}

.card--grid {
    display: grid;
    grid-template-columns: u.rem(63) 1fr;

    .profile__pic {
        width: u.rem(40);
        height: u.rem(40);
        border-radius: 50%;
        grid-row: 1;
        grid-column: 1;
    }

    .name__wrapper {
        grid-row: 1;
        grid-column: 2;
        align-self: center;
        display: grid;
        row-gap: u.rem(5);
    }

    .card__title {
        font-size: u.rem(13);
        font-weight: u.fw(bold);
        line-height: u.rem(14.56);
        color: var(--neutral-white);
        text-transform: capitalize;
    }

    .verified {
        color: var(--soft-pink);
        font-size: u.rem(13);
        line-height: u.rem(15);
        text-transform: capitalize;
    }
}



blockquote {
    p {
        color: var(--neutral-white);
        font-size: u.rem(13);
        line-height: u.rem(23);
        letter-spacing: u.rem(-0.23);
        font-weight: u.fw(medium);
        margin-top: u.rem(26);
    }
}

@media (min-width: 1440px) {
    .section--wrapper-02 {
        width: u.rem(540);
        place-content: unset;
        align-content: center;

        div:nth-child(1) {
            padding: u.rem(20) u.rem(90) u.rem(20) u.rem(32);
            place-self: start;
        }
    
        div:nth-child(2) {
            padding: u.rem(20) u.rem(60) u.rem(20) u.rem(32);
            place-self: center;
        }
    
        div:nth-child(3) {
            padding: u.rem(20) u.rem(88) u.rem(20) u.rem(32);
            place-self: end;
        }
    }

    .rated {
        grid-template-columns: u.rem(117) 1fr;
        column-gap: u.rem(32);
    }

    .stars__wrapper {
        grid-row: 1;
        grid-column: 1;
        margin: 0;
    }

    .rate__desc {
        grid-row: 1;
        grid-column: 2;
    }

    .main__cards {
        grid-template-columns: repeat(auto-fit, minmax(u.rem(327), u.rem(350)));
        column-gap: u.rem(30);
        row-gap: 0;
        place-content: unset;
        height: u.rem(266);

        .card {
            height: u.rem(234);
        }
    }

    .card__review-01 {
        margin-top: 0;
        place-self: start;
    }

    .card__review-02 {
        place-self: center;
    }

    .card__review-03 {
        place-self: end;
    }
}