@use '../utilities/' as u;

body {
    background-image: url(../../images/bg-pattern-top-desktop.svg), url(../../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 1200px) {
        background-size: 39%, 75%;
    }
}

.sect--wrapper-01 {
    text-align: center;
    @include u.grid-plc-cnt-center;

    .main__heading {
        color: var(--very-dark-magenta);
        font-size: u.rem(32);
        line-height: u.rem(32);
        font-weight: u.fw(bold);
        letter-spacing: u.rem(-1.14);
        margin-bottom: u.rem(18);
        max-width: u.rem(419);
    }

    .main__desc {
        color: var(--neutral-dark-grayish-magenta);
        font-size: u.rem(15);
        line-height: u.rem(25);
        letter-spacing: u.rem(-0.5);
        margin-bottom: u.rem(40);
        font-weight: u.fw(medium);
        max-width: u.rem(430);
    }
}

@media (min-width: 1440px) {
    .main {
        min-width: u.rem(1110);
        place-self: center;
        display: grid;
        row-gap: u.rem(70);
    }

    .main__intro {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .sect--wrapper-01 {
        text-align: left;
        
        .main__heading {
            font-size: u.rem(48);
            line-height: u.rem(48);
            max-width: u.rem(445);
        }

        .main__desc {
            font-size: u.rem(15);
            line-height: u.rem(25);
            max-width: u.rem(445);
        }
    }
}

